/* styles.css */
li {
    list-style: none;
    color: #797979;
    font-family: Aktiv Grotesk Trial;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 165%;
}

.logo {
    display: flex;
    position: relative;
    left: 10%;
    top: 20%;
}

.dot {
    position: absolute;
    top: -8px;
    left: 14px;
}

.square_dot {
    display: flex;
    height: 4px;
    width: 7px;
}

.square_dot .rectangle {
    background-color: #fd5707;
    position: absolute;
    height: 4px;
    left: 63%;
    top: 3%;
    width: 6px;
}

.square_dot_2 {
    height: 4px;
    left: 89%;
    position: absolute;
    top: 3%;

}

.square_dot_3 {
    height: 5px;
    position: absolute;
    width: 7px;
    top: 35%;
    left: 98%;
}

.ai {
    position: absolute;
    left: 108%;
}

.ai_dot {
    position: absolute;
    left: 68%;
    top: 4%;
}

.menu-link ul li {
    position: relative;
    margin-bottom: 10%;
    left: 50%;
    display: inline-block;
    margin-right: 20px;

}

.menu-link ul li a {
    color: inherit;
    text-decoration: none;
}

.menu-link ul {

    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;


}

.nav {
    width: 80%;
    height: 3.5rem;
    display: flex;
    /* grid-template-columns: 10rem 1fr 2fr 1fr 10rem; */
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-right: 20%;
}


.blog {
    display: flex;

}


.container {
    display: flex;
    color: #7A7A7A;

    font-family: Aktiv Grotesk Trial;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: 160%;

}

.contents {
    color: #7A7A7A;

    font-family: Aktiv Grotesk Trial;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: 160%;
    width: 250px;
    padding-left: 20%;
    padding-top: 3%;

}

.page-container {
    color: #7A7A7A;

    font-family: Aktiv Grotesk Trial;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: 160%;
    width: 500px;
    padding-top: 3.5%;
    /* 25.6px */
}

h3 {
    color: #000;
}

.header {}

.heading {
    position: absolute;
    top: 20%;
    left: 30%;
    color: #000000;
    font-family: Aktiv Grotesk Ex Trial;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 130%;
    text-align: center;
}

.heading-description {
    position: absolute;
    top: 45%;
    width: 40%;
    left: 30%;
    text-align: center;
    font-size: small;
    font-family: 'Aktiv Grotesk Trial';
    color: #7A7A7A;
}

.get_started {
    position: absolute;
    left: 35%;
    top: 55%;
    color: white;
    background-color: #24b4aa;
    padding: 10px;
    border-radius: 10px;
}

.get_started1 {
    position: absolute;
    left: 50%;
    top: 55%;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.background-image {
    width: 100%;
}

a {
    text-decoration-style: none;
}

.frame {
    align-items: flex-start;
    background: linear-gradient(180deg, rgb(39.31, 39.31, 39.31) 0%, rgb(24.44, 24.44, 24.44) 100%);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid;
    border-color: #131313;
    border-radius: 6px;
    display: inline-flex;
    gap: 8px;
    padding: 2px 20px;

    position: relative;
}

.frame .text-wrapper {
    color: #ffffff;
    font-family: "Aktiv Grotesk Trial-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 26.4px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.contact_sales-and-login {
    position: relative;
    left: 28%;
    top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #797979;
    font-family: Aktiv Grotesk Trial;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 165%;
    padding-bottom: 8px;
}

.image1 {
    position: absolute;
    top: 70%;
    left: 25%;

}

.image2 {
    position: absolute;
    top: 140%;
    left: 15%;

}

.image_container {
    position: absolute;
    left: 12%;
    top: 135%;
}

.image-all {
    display: flex;
    margin-top: 50%;
}

.content {
    position: absolute;
    left: 48%;
    top: 140%;
    color: #000;
    width: 37.3%;
    font-family: Aktiv Grotesk Ex Trial;
    font-size: 35px;
    font-style: normal;
    font-weight: 1000;
    line-height: 140%;
    /* 56px */
}

.content-description {
    position: absolute;
    left: 48.5%;
    top: 158%;
    color: #7A7A7A;
    width: 35%;
    font-family: Aktiv Grotesk Trial;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    /* 29.7px */
}

.group1 {
    position: absolute;
    left: 48%;
    top: 170%;
}

.group2 {
    position: absolute;
    left: 68%;
    top: 170%;
}

.our_vision {
    position: absolute;
    color: #000;
    padding-top: 10px;
    width: 90px;
    font-family: Aktiv Grotesk Ex Trial;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 25.2px */
}
.our_mission{
    position: absolute;
    color: #000;
    padding-top: 10px;
    width: 100px;
    font-family: Aktiv Grotesk Ex Trial;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 25.2px */
    
}

.our_vision_description{
    position: absolute;
    color: #7A7A7A;
    top: 150%;
    padding-top: 20px;
    width: 200px;
    font-family: Aktiv Grotesk Trial;;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 165%;

}

