


.blog {
    display: flex;
    flex-direction: column;

}


.heading {
    position: absolute;
    top: 20%;
    left: 30%;
    color: #000000;
    font-family: Aktiv Grotesk Ex Trial;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 130%;
    text-align: center;
}

.heading-description {
    position: absolute;
    top: 45%;
    width: 40%;
    left: 30%;
    text-align: center;
    font-size: small;
    font-family: 'Aktiv Grotesk Trial';
    color: #7A7A7A;
}

.get_started_button1 {
    position: absolute;
    left: 35%;
    top: 55%;
    color: white;
    background-color: #24b4aa;
    padding: 10px;
    border-radius: 10px;
}

.get_started_button2 {
    position: absolute;
    left: 50%;
    top: 55%;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.background-image {
    width: 100%;
}

a {
    text-decoration-style: none;
}

.image1 {
    position: absolute;
    top: 70%;
    left: 25%;

}

.image2 {
    position: absolute;
    left: 15%;
    top: 140%;

}

.image_container {
    position: absolute;
    left: 12%;
    top: 135%;
}

.layout_image {
    display: flex;
    margin-top: 50%;
}

.content {
    position: absolute;
    left: 48%;
    top: 140%;
    color: #000;
    width: 37.3%;
    font-family: Aktiv Grotesk Ex Trial;
    font-size: 35px;
    font-style: normal;
    font-weight: 1000;
    line-height: 140%;
    /* 56px */
}

.content-description {
    position: absolute;
    left: 48.5%;
    top: 158%;
    color: #7A7A7A;
    width: 35%;
    font-family: Aktiv Grotesk Trial;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    /* 29.7px */
}

.group1 {
    position: absolute;
    left: 48%;
    top: 170%;
}

.group2 {
    position: absolute;
    left: 68%;
    top: 170%;
}

.our_vision {
    position: absolute;
    color: #000;
    padding-top: 10px;
    width: 90px;
    font-family: Aktiv Grotesk Ex Trial;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 25.2px */
}

.our_mission {
    position: absolute;
    color: #000;
    padding-top: 10px;
    width: 100px;
    font-family: Aktiv Grotesk Ex Trial;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 25.2px */

}

.our_vision_description {
    position: absolute;
    color: #7A7A7A;
    top: 150%;
    padding-top: 20px;
    width: 200px;
    font-family: Aktiv Grotesk Trial;
    ;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 165%;

}
.our_vision_symbol{
    position: absolute;
    right: 20%;
    top: 23%;

}

.our_mission_symbol{
    position: absolute;
    right: 20%;
    top: 24%;

}

.container {
    background-color: rgb(63, 63, 111);
    color: white;
    /* line-height: 30px; */
    padding: 10px;
}

.textpara1 {
    background-color: rgb(149, 171, 202);
    border: 1px solid rgb(149, 171, 202);
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.textpara1 span {
    color: rgb(55, 250, 250);
}

.maintext {
    font-size: x-large;
    font-weight: 600;
    color: white;
}

.btn {
    background-color: rgb(75, 145, 139);
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.container1_section_header1 {
    display: flex;
}

.container1_section_header2{
    display: flex;
}

.container1 {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 210%;
    /* Set to bottom */
    background: #000C2C;
}

.container1_header {
    position: absolute;
    color: #FFF;
    top: 30%;
    left: 15%;
    width: 25%;

    font-family: Aktiv Grotesk Ex Trial;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 56px */
}

.container1_header_description {
    color: #C9C9C9;

    font-family: Aktiv Grotesk Trial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    /* 29.7px */
    width: 300px;
    position: absolute;
    top: 60%;
    left: 15%;

}

.container1_section_header1 {
    position: absolute;
    color: white;
    top: 220%;
    left: 45%;
    font-family: Aktiv Grotesk Ex Trial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 30.8px */
}
.container1_section_header2{
    position: absolute;
    color: white;
    top: 242%;
    left: 45%;
    font-family: Aktiv Grotesk Ex Trial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.box1 {
    color: #C9C9C9;

    font-family: Aktiv Grotesk Trial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    /* 29.7px */
    width: 280px;
    position: absolute;
    bottom: -140%;
    left: 45%;

}

.container2_section_header {
    position: absolute;
    color: white;
    top: 219%;
    left: 70%;
    font-family: Aktiv Grotesk Ex Trial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;

}

.box4 {
    color: #C9C9C9;

    font-family: Aktiv Grotesk Trial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    /* 29.7px */
    width: 300px;
    position: absolute;
    bottom: -139%;
    left: 70%;

}

.sub_page1_heading {
    position: absolute;
    top: 275%;
    left: 25%;
    height: 50%;
    width: 50%;
    color: #000;

    font-family: Aktiv Grotesk Ex Trial;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 56px */
}

.sub_page1_description {
    color: #7A7A7A;
    position: absolute;
    top: 287%;
    width: 50%;
    left: 24%;
    text-align: center;
    font-family: Aktiv Grotesk Trial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    /* 29.7px */

}

.sub_page_sub_container1{
    position: absolute;
    top: 310%;
    left: 15%;
    height: 50%;
    width: 25%;
    color: #000;

    font-family: Aktiv Grotesk Ex Trial;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

}
.sub_page_sub_container1_description{
    position: absolute;
    top: 327%;
    left: 15%;
    height: 50%;
    width: 25%;
    color: #7A7A7A;

    text-align:left;
    font-family: Aktiv Grotesk Trial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;

}
.sub_page_image{
    position: absolute;
    top: 310%;
    left: 50%;
}

.sub_page_image2{
    opacity: 4;
    position: absolute;
    top: 400%;
    left: 15%;
}
.sub_page_sub_container2{
    position: absolute;
    top: 370%;
    left: 15%;
    height: 50%;
    width: 35%;
    color: #000;

    font-family: Aktiv Grotesk Ex Trial;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.sub_page_sub_container2_description{
    position: absolute;
    top: 385%;
    left: 15%;
    height: 50%;
    width: 25%;
    color: #7A7A7A;

    text-align:left;
    font-family: Aktiv Grotesk Trial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;

}
.sub_page_background_image{
    position: absolute;
    top: 300%;
    left: 10%;
}

.sub_page_images{
    display: flex;

}
.sub_page_image3{
    opacity: 4;
    position: absolute;
    top: 400%;
    left: 55%;
}
.footer2 {
    position: absolute;
    width: 99%;
    height: 50%;
    top: 450%;
    /* Set to bottom */
    background: #000C2C;
}
.footer2_header{
    position: absolute;
    color: #FFF;
    top: 30%;
    left: 35%;
    width: 45%;

    font-family: Aktiv Grotesk Ex Trial;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;

}
.footer2_header_description{
    color: #C9C9C9;

    font-family: Aktiv Grotesk Trial;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    line-height: 165%;
    /* 29.7px */
    width: 520px;
    position: absolute;
    top: 50%;
    left: 28%;

}